[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7.3"

[scripts]
manage = "./manage.py"

[packages]
ipython = "*"
pre-commit = "*"
pylint = "*"
bottle = "*"
flask = "*"
gevent = "*"
gunicorn = "*"
flask-sockets = "*"
picamera = "*"
pigpio = "*"
imutils = "*"

[dev-packages]
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-voluptuous = "*"
