
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#3ed5da" />
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/aidriv.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/aidriv.png') }}">
    <!--This icon should be 192 or 180px with non transparent background-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <title>aidriv - gallery</title>
</head>

<body>
    <noscript>
        JavaScript is required to use aidriv.
    </noscript>

        <form action="{{ url_for('index') }}">
            <input type="submit" value="&#8249; Powrót" class="rounded-btn btn btn-primary"/>
        </form>

    <div class="container">
        <div class="row">
        {% for file in files %}
            <div class="col-xs-12 col-md-6 col-xl-4 pt-3">
            {% if file[-3:] == 'mp4' %}
                <video src="{{ url_for('static' , filename='gallery/' + file) }}" controls class="gallery"></video>
            {% else %}
                <img src="{{ url_for('static' , filename='gallery/' + file) }}" class="gallery">
            {% endif %}
                <div class="title">
                    {{file}}
                    </br>
                    <a href="{{ url_for('static' , filename='gallery/' + file) }}" download>
                        <i class="fa fa-download"></i> Pobierz
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>

</body>

</html>
