<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#3ed5da" />
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/aidriv.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/aidriv.png') }}">
    <!--This icon should be 192 or 180px with non transparent background-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>aidriv</title>
</head>

<body>
    <noscript>
        JavaScript is required to use aidriv.
    </noscript>

    <img id="camera">

    <div id="switch">
        <div class="onoffswitch">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <p>Autonomous mode</p>

    <p id='steering'>0 : 0</p>
    <div id="canvas_container">
        <canvas id="canvas"></canvas>
    </div>

    <script src="{{ url_for('static', filename='joystick.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
