<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="theme-color" content="#3ed5da" />
    <meta http-equiv="Cache-control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}" />
    <link rel="icon" href="{{ url_for('static', filename='images/aidriv.png') }}" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/aidriv.png') }}">
    <!--This icon should be 192 or 180px with non transparent background-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <link href="{{ url_for('static', filename='fontawesome/css/all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <title>aidriv</title>
</head>

<body>
    <div class="container">
        <div class="row">
                <img id="camera" src="{{ url_for('static', filename='images/loading.gif') }}">
        </div>
            
        <div class="row justify-content-center">
            <form action="{{ url_for('index') }}" method='POST'>
                {% for v in values %}
                    <div>
                        <input id="rangeInput{{loop.index}}" name="range{{loop.index}}" type="range" value={{v}} min="0" max="240"/>
                        <input id="amount{{loop.index}}" type="number" value={{v}} min="0" max="240"/>
                    </div>
                {% endfor %}
                <input type="submit" value="Anuluj" name="anuluj" class="rounded-btn btn btn-primary"/>
                <input type="submit" value="Zapisz" name="zapisz" class="rounded-btn btn btn-primary"/>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='websocket_calibration.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>
