#canvas_container {
    background-image: url("images/joystick140.png");
    border: 1px solid #272424;
    border-radius: 10px;
    height: 140px;
    width: 140px;
    margin: 0px 0px;
    /* this fixes the overflow:hidden in Chrome/Opera */
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#canvas {
    height: 140px;
    width: 140px;
}

@media only screen and (orientation: landscape) {
    #canvas_container {
        position: fixed;
        bottom: 0;
        right: 0;
        opacity: 0.65;
        /* if video will be displayed on a whole screen then
        we can set opacity and make joystick to be displayed
        over a video */
    }
}

@media only screen and (min-width: 768px) {
    #canvas_container {
        background-image: url("images/joystick200.png");
        border: 1px solid #272424;
        border-radius: 20px;
        height: 200px;
        width: 200px;
        position: static;
        bottom: auto;
        right: auto;
        opacity: 1;
    }
    #canvas {
        height: 200px;
        width: 200px;
    }
}